.btn:not(:disabled) {
  cursor: pointer;
}

.show_maps, .show_style, .show_columns, .show_side {
  padding: 15px 0 0;

  .list-group {
    max-height: 300px;
    overflow: auto;
    padding: 0 0 1px 1px;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: space-between;
      flex: 1 0 15%;
      cursor: pointer;
      transition: background-color 180ms linear;
      border-radius: 0;
      margin: 0 0 -1px -1px;
      font-size: 14px;

      &:not(.active):hover {
        background-color: rgba(#000, 0.03);
      }

      &.active {
        color: #000;
        background-color: #b2d7ff;
        border-color: rgba(#000, 0.125);
      }

      .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 7px;
        width: auto;
        height: auto;
        line-height: 100%;
      }
    }
  }
}

.show_maps .list-group .list-group-item {
  flex: 1 0 10%;
}

.show_side .list-group .list-group-item {
  flex: 1;
}

.show_columns .list-group .list-group-item {
  flex: 1 0 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.show_style {
  .style-title {
    display: block;
  }

  .btn-group {
    margin-bottom: 15px;
  }
}

.get_stats.btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    margin-left: 10px;
  }
}

